* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  color: white;
  background-color: #333333; }

body {
  position: relative; }

.container {
  width: 100%; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 42px 77px; }

.burger-menu {
  display: none; }

.mobile {
  display: none; }

.site-name {
  font-size: 1.4rem;
  font-family: "Crimson Pro";
  font-weight: 200;
  padding: 8px;
  border: solid white;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase; }

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.8rem; }

.items {
  margin-left: 80px; }

.content {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 40px;
  margin-bottom: 100px; }

.bloc-gauche {
  width: 40%; }

.bloc-droit {
  width: 50%; }

.title {
  font-size: 4.8rem;
  font-family: Lora; }

.text {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2.9rem;
  width: 80%;
  margin: 40px 0 50px 0; }

.bloc-readMore {
  display: flex;
  align-items: center; }

.more-info {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Montserrat;
  margin-right: 10px; }

.gg-arrow-long-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px; }

.gg-arrow-long-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 0;
  bottom: -2px; }

.bloc-droit {
  position: relative;
  align-self: flex-start; }

.img-design {
  width: 100%;
  /* min-width: 390px; */ }

.card-designer {
  background-color: #181719;
  position: absolute;
  bottom: -14%;
  right: 4%;
  padding: 3%; }

.info-designer {
  display: flex; }
  .info-designer .img-profil {
    border-radius: 100%;
    width: 50px; }
  .info-designer .bloc-name {
    margin-left: 15px; }
    .info-designer .bloc-name .name {
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 10px; }
    .info-designer .bloc-name .job-name {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 1.2rem;
      color: #828282; }

.description {
  font-family: Lora;
  font-size: 2.4rem;
  line-height: 3.1rem;
  width: 70%;
  margin-top: 20px; }

.attribution {
  font-family: Montserrat;
  font-size: 1.4rem;
  color: #a9a9a9;
  text-align: center; }
  .attribution a {
    color: #a9a9a9;
    text-decoration: none; }

/* $breakpoints: (
  "phone": 360px,
  "tablet": 768px,
  "desktop": 1366px,
  "LGdesktop": 1920px,
) !default; */
@media (max-width: 700px) {
  .header {
    padding: 32px 19px; }
  .desktop {
    display: none; }
  .content {
    flex-direction: column;
    padding: 8px;
    margin: 20px 0 10px 0; }
  .bloc-gauche {
    margin-bottom: 30px; }
  .bloc-gauche,
  .bloc-droit {
    width: 100%; }
  .title {
    font-size: 3.6rem; }
  .text {
    margin: 30px 0 40px 0; }
  .text,
  .more-info {
    font-size: 1.4em; }
  .card-designer {
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    bottom: -30%; }
  .name {
    font-size: 1.2rem; }
  .job-name {
    font-size: 1rem; }
  .description {
    font-size: 1.8rem; }
  .attribution {
    border-top: 1px solid #a9a9a9;
    width: 80%;
    margin: auto;
    margin-top: 30% !important;
    padding: 10px; }
  .burger-menu {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5%;
    top: 3%;
    cursor: pointer;
    z-index: 9999; }
    .burger-menu span {
      width: 100%;
      height: 4px;
      background-color: white;
      display: block;
      position: absolute;
      z-index: 4500;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color 0.5s ease-in-out; }
    .burger-menu span::before {
      transform: translateY(-10px); }
    .burger-menu span::after {
      transform: translateY(10px); }
    .burger-menu span::before,
    .burger-menu span::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background: #ffffff;
      transition: transform 0.5s ease-in-out; }
  .burger-menu.active span {
    background-color: transparent; }
    .burger-menu.active span::before {
      transform: translateY(0px) rotateZ(45deg);
      background: #ffffff; }
    .burger-menu.active span::after {
      transform: translateY(0px) rotateZ(-45deg);
      background: #ffffff; }
  .mobile-active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #181719;
    display: flex;
    z-index: 9998; }
    .mobile-active .menu {
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      margin: auto;
      height: 30%; }
      .mobile-active .menu .items {
        margin-left: 0; } }

@media (min-width: 480px) and (max-width: 699px) {
  .card-designer {
    bottom: -10%; } }

@media (max-width: 1080px) {
  .header {
    padding: 32px 19px; }
  .content {
    padding: 2px;
    margin: 80px 0 50px 0; }
  .items {
    margin-left: 40px; }
  .name {
    font-size: 1.2rem; }
  .job-name {
    font-size: 1rem; }
  .description {
    font-size: 1.8rem; }
  .attribution {
    margin: auto;
    margin-top: 10%; } }
